<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../chapter5/index.css">
    <title>购物车</title>
</head>

<body>
    <div id="app">
        <template v-if='list.length'>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>商品名称</th>
                        <th>商品单价</th>
                        <th>购买数量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tr v-for='(item, index) in list'>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>
                        <button v-on:click="reduceCount(index)" v-bind:disabled="item.count === 1">-</button>
                        {{item.count}}
                        <button v-on:click="addCount(index)">+</button>
                    </td>
                    <td>
                        <button @click="handleRemove(index)">移除</button>
                    </td>
                </tr>
            </table>
            <div>总价： {{totalPrice}}</div>
        </template>
    </div>
    <script src="../vue.js"></script>
    <script src="../chapter5/index.js"></script>
</body>

</html>